*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
h2{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

section>div{
    max-width: 1200px;
}


.hero{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    align-content: center;
    background: url("./images/hero.jpg") no-repeat center center/cover;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    padding-bottom: 8rem;


}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    z-index: -1; /* places it behind the content */
}

.hero-title{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.hero-title>span{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:6rem;
}

.hero-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1rem;
}
.vl {
    border-left: 2px solid #ffffff;
    height:100%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
#our-story{
    background: #f6f4f0;
}
.section-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    align-items: center;
    height: 100%;
    padding: 5rem 2rem;
}

.section-content>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}

.polaroid {
    opacity: 0;
    transform: translateX(0);
    transition: transform 1s ease, opacity 1s ease;
    padding: 10px 10px 30px 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
}


/* Initial animation setup */
.polaroid-left {
    transform: translateX(-100px);
}

.polaroid-right {
    transform: translateX(100px);
}

/* When in view: activate animation */
.polaroid.animate-left {
    opacity: 1;
    transform: translateX(0) rotate(-3deg);
}

.polaroid.animate-right {
    opacity: 1;
    transform: translateX(0) rotate(3deg);
    transition-delay: 0.2s; /* delay for right image */
}

.section-content>div>img{
    width: 100%;
    object-fit: cover;
}

/* SCHEDULE SECTION */

#schedule{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%), url("images/black-bg.png"),  center top no-repeat;
    background-size: cover;
    color: #f6f4f0;
}

.schedule-content{
    height: 100%;
}


.schedule-item{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.schedule-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.3) 100%);
    z-index: -1; /* places it behind the content */
}
.schedule-item:nth-child(1){
    background: url("./images/schedule-item-1.JPG") no-repeat center center/cover;
}.schedule-item:nth-child(2){
    background: url("./images/schedule-item-2.JPG") no-repeat center center/cover;
}.schedule-item:nth-child(3){
    background: url("./images/schedule-item-3.JPG") no-repeat center center/cover;
}

#schedule .section-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#schedule .section-content>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    height: 100%;
}

.schedule-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.schedule-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.schedule-item>h3{
    font-size: 2rem;
}

/*-----------------*/
/*RSVP SECTION */
.rsvp{
    position: relative;
    z-index: 1;
    background: url("./images/rsvp.jpg") no-repeat center center/cover;
    color: #f6f4f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.rsvp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    z-index: -1; /* places it behind the content */
}


.loader {
    margin:auto;
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
}
.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: loading 1.5s linear infinite;
}
@keyframes loading {
    0% {
        left: -100%;
    }
    50% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}


#map .section-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.countdown {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;

    padding: 0.5rem;
    border-radius:5px ;
}
.time {
    font-weight: bold;
}

